<h1>Home Page</h1>
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService  authorizationService
@if ((await authorizationService.AuthorizeAsync(User, "Claim.DoB")).Succeeded)
{
    <h1>User has DoB Claim</h1>

}
